In [394]:
import pandas as pd
from sklearn import metrics 
from sklearn.model_selection import train_test_split
from sklearn.metrics import recall_score
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier,GradientBoostingClassifier
# from sklearn.naive_bayes import GaussianNB,MultinomialNB
from sklearn.linear_model import LogisticRegression
from imblearn.combine import SMOTEENN
from sklearn.metrics import accuracy_score,roc_auc_score

In [395]:
df= pd.read_csv('df_churn.csv')
df.head(5)

,Unnamed: 0,SeniorCitizen,MonthlyCharges,TotalCharges,Churn,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,...,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,tenure_group_1 - 12,tenure_group_13 - 24,tenure_group_25 - 36,tenure_group_37 - 48,tenure_group_49 - 60,tenure_group_61 - 72
0,0,0,29.85,29.85,0,1,0,0,1,1,...,0,0,1,0,1,0,0,0,0,0
1,1,0,56.95,1889.50,0,0,1,1,0,1,...,0,0,0,1,0,0,1,0,0,0
2,2,0,53.85,108.15,1,0,1,1,0,1,...,0,0,0,1,1,0,0,0,0,0
3,3,0,42.30,1840.75,0,0,1,1,0,1,...,1,0,0,0,0,0,0,1,0,0
4,4,0,70.70,151.65,1,1,0,1,0,1,...,0,0,1,0,1,0,0,0,0,0

In [396]:
df=df.drop('Unnamed: 0',axis=1)

In [397]:
df.head(5)

,SeniorCitizen,MonthlyCharges,TotalCharges,Churn,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,...,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,tenure_group_1 - 12,tenure_group_13 - 24,tenure_group_25 - 36,tenure_group_37 - 48,tenure_group_49 - 60,tenure_group_61 - 72
0,0,29.85,29.85,0,1,0,0,1,1,0,...,0,0,1,0,1,0,0,0,0,0
1,0,56.95,1889.50,0,0,1,1,0,1,0,...,0,0,0,1,0,0,1,0,0,0
2,0,53.85,108.15,1,0,1,1,0,1,0,...,0,0,0,1,1,0,0,0,0,0
3,0,42.30,1840.75,0,0,1,1,0,1,0,...,1,0,0,0,0,0,0,1,0,0
4,0,70.70,151.65,1,1,0,1,0,1,0,...,0,0,1,0,1,0,0,0,0,0

In [398]:
# creating x and y variable
x = df.drop('Churn',axis=1)
# print(x)
x

,SeniorCitizen,MonthlyCharges,TotalCharges,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,PhoneService_No,...,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,tenure_group_1 - 12,tenure_group_13 - 24,tenure_group_25 - 36,tenure_group_37 - 48,tenure_group_49 - 60,tenure_group_61 - 72
0,0,29.85,29.85,1,0,0,1,1,0,1,...,0,0,1,0,1,0,0,0,0,0
1,0,56.95,1889.50,0,1,1,0,1,0,0,...,0,0,0,1,0,0,1,0,0,0
2,0,53.85,108.15,0,1,1,0,1,0,0,...,0,0,0,1,1,0,0,0,0,0
3,0,42.30,1840.75,0,1,1,0,1,0,1,...,1,0,0,0,0,0,0,1,0,0
4,0,70.70,151.65,1,0,1,0,1,0,0,...,0,0,1,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7027,0,84.80,1990.50,0,1,0,1,0,1,0,...,0,0,0,1,0,1,0,0,0,0
7028,0,103.20,7362.90,1,0,0,1,0,1,0,...,0,1,0,0,0,0,0,0,0,1
7029,0,29.60,346.45,1,0,0,1,0,1,1,...,0,0,1,0,1,0,0,0,0,0
7030,1,74.40,306.60,0,1,0,1,1,0,0,...,0,0,0,1,1,0,0,0,0,0
7031,0,105.65,6844.50,0,1,1,0,1,0,0,...,1,0,0,0,0,0,0,0,0,1

In [399]:
y=df.Churn
y

0       0
1       0
2       1
3       0
4       1
       ..
7027    0
7028    0
7029    0
7030    1
7031    0
Name: Churn, Length: 7032, dtype: int64

In [400]:
x_train,x_test,y_train,y_test= train_test_split(x,y,test_size=0.2)

### Decision Tree Classifier

In [401]:
model_dt = DecisionTreeClassifier(criterion='gini',random_state=100,max_depth=6,min_samples_leaf=10)#one criteria is gini index and one is entropy..

In [402]:
model_dt.fit(x_train,y_train)

DecisionTreeClassifier(max_depth=6, min_samples_leaf=10, random_state=100)

In [403]:
y_pred= model_dt.predict(x_test)
y_pred

array([0, 0, 0, ..., 0, 1, 1], dtype=int64)

In [404]:
# model_dt.score(y_test,y_pred)
print(accuracy_score(y_test,y_pred))

0.7839374555792467

In [405]:
rfc=RandomForestClassifier(n_estimators=100,criterion='gini',random_state=4)
gbc=GradientBoostingClassifier(n_estimators=100,random_state=4)
lrc=LogisticRegression(solver='sag',penalty='l2')

In [406]:
models={
    'LRC': lrc,
    'DT' : model_dt,
    'RFC': rfc,
    'GBC': gbc
    
}

In [407]:
def train_classifier(model,x_train,y_train,x_test,y_test):
    model.fit(x_train,y_train)
    y_pred1=model.predict(x_test)
    print('accuracy',accuracy_score(y_test,y_pred1))
    print('roc_score',roc_auc_score(y_test,y_pred1))
    print('classification\n',classification_report(y_test,y_pred1))
    print('confusion_matrix',confusion_matrix(y_test,y_pred1))

In [408]:
for name,model in models.items():
    print("For",name)
    train_classifier(model,x_train,y_train,x_test,y_test)

For LRC

c:\Users\anubh\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\linear_model\_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(

accuracy 0.7263681592039801
roc_score 0.6506947887053206
classification
               precision    recall  f1-score   support

           0       0.81      0.82      0.81      1019
           1       0.50      0.48      0.49       388

    accuracy                           0.73      1407
   macro avg       0.66      0.65      0.65      1407
weighted avg       0.72      0.73      0.72      1407

confusion_matrix [[835 184]
 [201 187]]
For DT
accuracy 0.7839374555792467
roc_score 0.6888436712766711
classification
               precision    recall  f1-score   support

           0       0.82      0.90      0.86      1019
           1       0.65      0.48      0.55       388

    accuracy                           0.78      1407
   macro avg       0.73      0.69      0.70      1407
weighted avg       0.77      0.78      0.77      1407

confusion_matrix [[918 101]
 [203 185]]
For RFC
accuracy 0.7889125799573561
roc_score 0.690682445899052
classification
               precision    recall  f1-score   support

           0       0.82      0.91      0.86      1019
           1       0.67      0.47      0.55       388

    accuracy                           0.79      1407
   macro avg       0.74      0.69      0.71      1407
weighted avg       0.78      0.79      0.78      1407

confusion_matrix [[927  92]
 [205 183]]
For GBC
accuracy 0.7910447761194029
roc_score 0.7081141304897666
classification
               precision    recall  f1-score   support

           0       0.83      0.89      0.86      1019
           1       0.65      0.52      0.58       388

    accuracy                           0.79      1407
   macro avg       0.74      0.71      0.72      1407
weighted avg       0.78      0.79      0.78      1407

confusion_matrix [[910 109]
 [185 203]]

* GBC is the best 
* Because the data is imabalanced so its giving low precision and accuracy for churn=1 so we will use smott analysis

In [409]:
# smot analysis is a class to perform over-sampling and cleaning using ENN.
sm=SMOTEENN()
X_resampled,y_resampled = sm.fit_resample(x,y)

In [410]:
xr_train,xr_test,yr_train,yr_test= train_test_split(X_resampled,y_resampled,test_size=0.2)

In [411]:
models_smote={
    'LRC_smote': lrc,
    'DT_smote' : model_dt,
    'RFC_smote': rfc,
    'GBC_smote': gbc
    
}

In [412]:
def train_classifier1(model,x_train,y_train,x_test,y_test):
    model.fit(xr_train,yr_train)
    y_pred1=model.predict(x_test)
    print('accuracy',accuracy_score(y_test,y_pred1))
    print('roc_score',roc_auc_score(y_test,y_pred1))
    print('classification\n',classification_report(y_test,y_pred1))
    print('confusion_matrix',confusion_matrix(y_test,y_pred1))

In [413]:
for name,model in models_smote.items():
    print("For",name)
    train_classifier1(model,xr_train,yr_train,xr_test,yr_test)

For LRC_smote

c:\Users\anubh\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\linear_model\_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(

accuracy 0.8006843455945253
roc_score 0.7879585708048662
classification
               precision    recall  f1-score   support

           0       0.89      0.64      0.75       533
           1       0.76      0.93      0.84       636

    accuracy                           0.80      1169
   macro avg       0.82      0.79      0.79      1169
weighted avg       0.82      0.80      0.80      1169

confusion_matrix [[343 190]
 [ 43 593]]
For DT_smote
accuracy 0.9435414884516681
roc_score 0.9420362962700745
classification
               precision    recall  f1-score   support

           0       0.95      0.92      0.94       533
           1       0.94      0.96      0.95       636

    accuracy                           0.94      1169
   macro avg       0.94      0.94      0.94      1169
weighted avg       0.94      0.94      0.94      1169

confusion_matrix [[493  40]
 [ 26 610]]
For RFC_smote
accuracy 0.9666381522668948
roc_score 0.9664530897848892
classification
               precision    recall  f1-score   support

           0       0.96      0.96      0.96       533
           1       0.97      0.97      0.97       636

    accuracy                           0.97      1169
   macro avg       0.97      0.97      0.97      1169
weighted avg       0.97      0.97      0.97      1169

confusion_matrix [[514  19]
 [ 20 616]]
For GBC_smote
accuracy 0.9640718562874252
roc_score 0.9634869080911419
classification
               precision    recall  f1-score   support

           0       0.96      0.96      0.96       533
           1       0.96      0.97      0.97       636

    accuracy                           0.96      1169
   macro avg       0.96      0.96      0.96      1169
weighted avg       0.96      0.96      0.96      1169

confusion_matrix [[510  23]
 [ 19 617]]

* best is random forest

In [414]:
rfc_smote = rfc=RandomForestClassifier(n_estimators=100,criterion='gini',random_state=4)

In [415]:
train_classifier1(rfc_smote,xr_train,yr_train,xr_test,yr_test)

accuracy 0.9666381522668948
roc_score 0.9664530897848892
classification
               precision    recall  f1-score   support

           0       0.96      0.96      0.96       533
           1       0.97      0.97      0.97       636

    accuracy                           0.97      1169
   macro avg       0.97      0.97      0.97      1169
weighted avg       0.97      0.97      0.97      1169

confusion_matrix [[514  19]
 [ 20 616]]

In [416]:
# Saving the model

In [417]:
import pickle
pickle.dump(rfc_smote,open('model.pkl','wb'))

In [418]:
load_model = pickle.load(open('model.pkl','rb'))

In [419]:
load_model.score(xr_test,yr_test)

0.9666381522668948

In [420]:
import joblib

In [421]:
joblib.dump(rfc_smote, 'model.joblib')

['model.joblib']